:root {
    --cor-branco: #e7e8dc;
    --cor-rosa: #ae0464;
    --cor-azul: #1d52a8;
    --cor-roxo: #71056f;
    --cor-cinza: #212529; 
    --cor-cinza-claro: #c5c5c5; 
    --cor-cinza-escuro:#212529;
    --cor-violeta: #8a2be2;
    --cor-preto: #000;
}
.icones-navbar {
    font-size: 2em;
    color:var(--cor-branco)
} 
.conteudo-dia {
    display: flex;
    flex-direction: column;   
    justify-content: flex-end; 
    margin: 1px;
}
.container-relogio {
    height: 340px;
    width: 300px;
    padding: 0;
    margin: 2em 0;
}
.globo.hora {
    background:brown;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 235px;
    left: 200px;
}
.globo.minuto {
    background: aqua;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 36px;
    left: 176px;
}
.globo.segundo {
    background: grey;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 34px;
}
.orbita.hora {
    position: relative;
    height: 270px;
    width: 270px;
    left: 0px;
    top: 0px;
    border: 1px solid white;
    border-radius: 50%;
}
.orbita.minuto {
    position: relative;
    height: 190px;
    width: 190px;
    left: 38px;
    top: 42px;
    border: 1px solid white;
    border-radius: 50%;
}
.orbita.segundo {
    position: relative;
    height: 140px;
    width: 140px;
    left: 25px;
    top: 25px;
    border: 1px solid white;
    border-radius: 50%;
}
.rotacao.minuto {
    position: absolute;
    height: 190px;
    width: 190px;
    animation: orbita 10s linear infinite;
    transform-origin: center;
}
.rotacao.hora {
    position: absolute;
    height: 270px;
    width: 270px;
    animation: orbita 10s linear infinite;
    transform-origin: center;
    top: 0px;
}
.rotacao.segundo {
    position: absolute;
    height: 140px;
    width: 140px;
    animation: orbita 10s linear infinite;
    transform-origin: center;
    top: 0px;
}
.relogio {
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellow;
    border-radius: 50%;
    position: relative;
    height: 70px;
    width: 70px;
    left: 36px;
    top: 36px;
    border-radius: 50%;
    box-shadow: 0 0 30px white;
    color: black;
}
.orbita {
    position: relative;
    border: solid;
    border-color: white;
    border-radius: 50%;
    border-width: 1px 1px 0 0;
    box-sizing: border-box;
    transform: rotate(0deg);
    transform-origin: center;
}
@keyframes orbita {
    to {
        transform: rotate(360deg);
    }
}